@font-face {
  font-family: "PatchworkStitchlings";
  src: url("../fonts/PatchworkStitchlings.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PatchworkStitchlingsColor";
  src: url("../fonts/PatchworkStitchlingsColor.ttf");
  font-weight: normal;
  font-style: normal;
}

.stitchlings {
  font-family: "PatchworkStitchlings";
  font-size: 1.5em;
}

.stitchlings-color {
  font-family: "PatchworkStitchlingsColor";
  font-size: 1.5em;
}

body {
  min-height: 100vh;
  background-image: url("../images/fundo.jpg");
  background-size: contain;
}
